dist/*
dist32/*
*~
/binary.log
livecd*
/cache
/si-ubuntu-defaults/debian/si-ubuntu-defaults*
si-ubuntu-defaults/debian/files
chroot.packages.install
/chroot
/config
binary*
chroot.packages.live
chroot.headers
/.stage
/.build
/auto
*.pyc