[Desktop Entry]
Encoding=UTF-8
Name=Kako začeti z Ubuntujem
Type=Link
URL=/usr/share/example-content/Kako_začeti_z_Ubuntujem.pdf
Icon=UbuntuManual_logo