[Desktop Entry]
Encoding=UTF-8
Name=Kako začeti z Ubuntujem
Type=Link
URL=https://www.ubuntu.si/wordpress/wp-content/uploads/ubuntu-manual-sl-final-1204.pdf
Icon=ubuntu-slo.png