Package: ubuntu-defaults-slovenia
Version: 0.1
Architecture: all
Maintainer: dz0ny <dz0ny@namizni>
Installed-Size: 115
Depends: dconf-gsettings-backend | gsettings-backend
Conflicts: ubuntu-default-settings
Provides: ubuntu-default-settings
Section: metapackages
Priority: optional
Description: Default settings for Ubuntu customizations
 This package contains customized default settings.
